<div class="contain-home">
  <app-filter-bar></app-filter-bar>
  <div style="margin-top: 3px;" fxLayoutAlign="space-between center">
        <mat-form-field style="width: 300px" appearance="outline">
          <input type="number" matInput placeholder="Tra cứu theo mã" (keydown.enter)="searchByText()"  [(ngModel)]="searchText">
          <mat-icon matPrefix>search</mat-icon>
          <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="clearText()">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <mat-paginator [length]="totalOfItems" [pageSize]="pageSize" (page)="onPaginateChange($event)">
        </mat-paginator>
  </div>
  <div style="height: calc(100vh - 200px);" PerfectScrollbar>
      <div *ngIf="totalOfItems > 0;else noResult" fxLayout="row wrap" fxLayoutAlign="space-between center">
          <app-property-card (delete)="deleteProperty(item.id, i)" (edit)="openEdit(item, i)" [data]="item" *ngFor="let item of data; let i = index" fxFlex="20" style="margin-bottom: 4px;"></app-property-card>
      </div>
      <ng-template #noResult>
          <div class="empty" fxLayout="column" fxLayoutAlign="center center">
              <h2>Result not found</h2>
          </div>
      </ng-template>
  </div>
</div>
