<mat-card class="container" fxLayout="row"  fxLayoutAlign="start start">
  <img class="thumbnail" src={{news.thumbnail}}>
  <div class="details">
      <div class="title">{{news.title}}</div>
      <div>{{news.datecreated | dateCreated}}</div>
      <div class="head-line">{{news.headline}}</div>
      <div class="actions" fxLayoutAlign="start center">
          <mat-icon (click)="editItem()">edit</mat-icon>
          <mat-icon (click)="deleteItem()">delete</mat-icon>
      </div>
  </div>
</mat-card>