<mat-toolbar class="p-0 mat-elevation-z1 toolbar-bg">
  <div fxFill fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <h1 (click)="goHome()" style="margin-left: 8px">FindHouse</h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon style="color: white;">add</mat-icon>
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item  [routerLink]="['/post-property']">Thêm bất động sản</button>
            <button mat-menu-item [routerLink]="['/news-details']">Thêm tin tức</button>
        </mat-menu>
      <button mat-icon-button matTooltip="Đăng xuất">
        <mat-icon style="color: white;" (click)="logout()">exit_to_app</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>