<mat-toolbar class="p-0 mat-elevation-z1 toolbar-bg">
  <div fxFill fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <h1 (click)="goHome()" style="margin-left: 8px">FindHouse</h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <button style="padding: 0px 0px;" mat-raised-button [routerLink]="['/post']">
        Đăng tin
      </button>
      <button class="menu-circle-button">
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-icon style="color: white;">gavel</mat-icon>
        </div>
      </button>
      <button class="menu-circle-button">
        <div fxLayout="row" fxLayoutAlign="center center">
          <ngx-avatar class="mr-8" name="Nghia Tran" size="35" bgColor="#7f8c8d"></ngx-avatar>
        </div>
      </button>
    </div>
  </div>
</mat-toolbar>