:host ::ng-deep {
    .section-container {
        width: 100%;
        margin: 16px 8px
    }
    .district {
        font-size: 16px;
        font-weight: 500;
    }
    .hint {
        margin-bottom: 8px;
    }
    .mat-form-field-wrapper {
        padding-bottom: 0em;
    }
    .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: .3em 0 .3em 0;
    }
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        margin-top: 7px
    }
    .mat-form-field-appearance-outline .mat-form-field-label {
        top: 1.2em;
    }
    mat-form-field {
        min-width: 100px;
    }
    .content {
        height: 150px;
    }
    .unit {
        margin-top: 8px;
        height: calc(100vh - 120px);
        mat-form-field {
            width: 100%
        }
        textarea {
            height: 100px;
        }
    }
}
